# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
env/
venv/
.venv/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flask/Instance
instance/
*.db
*.sqlite

# Logs
*.log

# Build
dist/
build/

# Virtualenv backups
pip-wheel-metadata/

# Alembic
versions/__pycache__/

