flask
flask-cors
flask-sqlalchemy
flask-migrate
requests
beautifulsoup4
whois
tldextract
validators
pandas
scikit-learn
pywhois
imbalanced-learn
tqdm
flask-login
flask-wtf
flask-bcrypt
get_subdomains
bleach
pycountry-convert
Flask-Dance
psycopg2-binary
